.info-box {
  background-color: transparent;
  animation-duration: 2s;
  animation-iteration-count: 2;
}

.info-box.info {
  animation-name: info;
}

@keyframes info {
  0% {
    background-color: yellow;
  }
  50% {
    background-color: yellow;
  }
}

.info-box.success {
  animation-name: success;
}

@keyframes success {
  0% {
    background-color: green;
  }
  50% {
    background-color: green;
  }
}

.info-box.error {
  animation-name: error;
}

@keyframes error {
  0% {
    background-color: red;
  }
  50% {
    background-color: red;
  }
}
